<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tcp.iamlazy.review.repository.ReviewMapper">

    <select id="getWeekRv" parameterType="String" resultType="com.tcp.iamlazy.review.entity.Review">
        SELECT toDoDate, reviewContent, emoticon
        FROM review
        WHERE toDoDate = #{toDodate}
    </select>

    <!--<select id="getWeekRv" resultType="com.tcp.iamlazy.review.entity.Review">-->
        <!--SELECT toDoDate, reviewContent, emoticon-->
        <!--FROM review-->
        <!--WHERE toDoDate BETWEEN DATE_FORMAT(DATE_ADD(NOW(), INTERVAL (WEEKDAY(NOW())) * -1 DAY), '%Y-%m-%d')-->
              <!--and DATE_ADD(NOW(), INTERVAL (6 - WEEKDAY(NOW())) * +1 DAY)-->
    <!--</select>-->


    <insert id="insertReview" parameterType="Review">
        INSERT INTO review(userIdx, toDoDate, reviewContent, emoticon)
        VALUES(#{userIdx}, NOW(), #{reviewContent}, #{emoticon})
    </insert>

    <update id="updateReview" parameterType="Review">
        UPDATE review
        SET toDoDate = #{toDoDate}, reviewContent = #{reviewContent}, emoticon = #{emoticon}
        WHERE userIdx = #{userIdx}
    </update>

</mapper>